:root {
  font-size: 16px;
}
body {
  background-color: #eeeff1;
  color: black;
  font-family: RobotoFlex;
}
.header,
.banner {
  margin: 79px auto;
  padding: 0 5px;
  max-width: 1110px;
}
.header__list {
  display: flex;
}
.header__item {
  text-transform: uppercase;
  height: 16px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.header__link {
  color: #000;
  padding-right: 21px;
}
.header__link--active {
  color: #34547a;
}
.banner {
  margin: 162px auto 141px;
}
.banner__wrapper {
  max-width: 540px;
}
.banner__title {
  font-size: 3rem;
  font-weight: 500;
  height: 45px;
}
.banner__description {
  margin: 60px 0 65px;
  height: 67px;
  font-size: 1rem;
  line-height: 24px;
  color: #727272;
}
.banner__button {
  padding: 25px 52px;
  border: none;
  font-size: 0.8rem;
  background: #34547A;
  color: #fff;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.about,
.work {
  background-color: #f9f9f9;
  padding: 112px 0 100px;
}
.about__wrapper,
.work__wrapper {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.about__title,
.work__title {
  font-size: 2rem;
  font-weight: 500;
  height: 30px;
  margin-bottom: 50px;
}
.about__description, .work__description {
  color: #727272;
  line-height: 23px;
  height: 67px;
  font-size: 1rem;
  padding: 0 20px;
}
.project {
  background: #34547a;
  padding: 100px 0;
}
.project__wrapper, .footer__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 5px;
}
.project__list {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.project__item {
  display: flex;
}
.project__img {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}
.project__text {
  color: #FFF;
}
.project__title {
  font-size: 1.31rem;
  font-weight: 500;
  margin-bottom: 10px;
  height: 19px;
}
.project__description {
  height: 15px;
  width: 71px;
  font-size: 1rem;
}
.work {
  padding: 100px 0;
}
.work__wrapper {
  margin-bottom: 57px;
}
.work__wrapper--image {
  max-width: 1110px;
  position: relative;
  margin-bottom: unset;
}
.work__image {
  display: block;
  margin: 0 auto;
}
.work__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.footer {
  color: #fff;
  background: #34547a;
  padding: 50px 0;
}
.footer__title {
  font-size: 1.31rem;
  font-weight: 500;
  margin-bottom: 20px;
  height: 19px;
}
.footer__description {
  font-size: 0.81rem;
  height: 12px;
}

@media (max-width: 1109.8px) {
  .header,
  .banner {
    margin: 75px auto;
    padding: 0 20px;
  }
  .header__list {
    justify-content: center;
  }
  .banner__wrapper {
    margin: 0 auto;
  }
  .about,
  .work {
    padding: 75px 0;
  }
  .about__description, .work__description {
    height: unset;
  }
  .work__image {
    height: 500px;
  }
  .footer {
    text-align: center;
  }
}
@media (max-width: 992.8px) {
  .header,
  .banner,
  .project__wrapper,
  .footer__wrapper,
  .work__wrapper--image {
    max-width: 950px;
  }
  .project__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .project__img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .project__item {
    justify-content: center;
    width: calc(33% - 60px);
    margin: 10px;
  }
  .project__title {
    margin-bottom: 10px;
    height: 19px;
  }
  .project__description {
    height: 15px;
    width: 71px;
  }
  .work__image {
    height: 300px;
  }
}
@media (max-width: 767.8px) {
  .header,
  .banner,
  .project__wrapper,
  .footer__wrapper,
  .work__wrapper--image {
    max-width: 500px;
  }
  .header__list {
    justify-content: space-between;
  }
  .header__link {
    padding-right: unset;
  }
  .banner__button {
    padding: 15px 30px;
  }
  .project__item {
    width: unset;
  }
  .project__img {
    height: 45px;
    width: 45px;
  }
  .work__image {
    height: 200px;
  }
  .work__icon {
    height: 50px;
    margin: -25px 0 0 -25px;
  }
}
@media (max-width: 575.8px) {
  .header,
  .banner,
  .about__wrapper,
  .project__wrapper,
  .work__wrapper,
  .footer__wrapper {
    max-width: 350px;
  }
  .header__list {
    flex-direction: column;
    text-align: center;
  }
  .header__item {
    height: unset;
    margin: 5px auto;
  }
  .header,
  .banner {
    margin: 50px auto;
  }
  .banner__title {
    height: unset;
    font-size: 2rem;
  }
  .banner__description {
    margin: 20px auto;
    height: unset;
  }
  .banner__button {
    padding: 10px 15px;
  }
  .about__title, .work__title {
    margin-bottom: 20px;
    font-size: 1.75rem;
  }
  .work__image {
    height: 150px;
  }
}